
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
.container_s{
  width: 100%;
  max-width: 1140px;
  padding: 0 16px;
  margin: 0 auto;
}

.font_poppins{
  font-family: 'Poppins', sans-serif;
}
.font_mochiy{
  font-family: 'Mochiy Pop P One', sans-serif;
}
.nav:hover{
  background-color: black;
}
.nav:active{
  background-color: black;
}
.nav:focus{
  background-color: black;
}
.link__button {
  background-color: rgb(41, 118, 233);
  color: white;
  border-color: rgb(41, 118, 233);;
}
.link__button:hover {
  background-color: rgb(8, 15, 26);
  border-color: rgb(8, 15, 26);
}
